@page
@model Proyectoint.CreateHisto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Historial1</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Historial1.Nombre_candidato" class="control-label"></label>
                <input asp-for="Historial1.Nombre_candidato" class="form-control" />
                <span asp-validation-for="Historial1.Nombre_candidato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Historial1.Direccion" class="control-label"></label>
                <input asp-for="Historial1.Direccion" class="form-control" />
                <span asp-validation-for="Historial1.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Historial1.Empresa_pro" class="control-label"></label>
                <input asp-for="Historial1.Empresa_pro" class="form-control" />
                <span asp-validation-for="Historial1.Empresa_pro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Historial1.Desempeño" class="control-label"></label>
                <input asp-for="Historial1.Desempeño" class="form-control" />
                <span asp-validation-for="Historial1.Desempeño" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Historial1.Observaciones" class="control-label"></label>
                <input asp-for="Historial1.Observaciones" class="form-control" />
                <span asp-validation-for="Historial1.Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
