@page
@{

}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>


</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form">
                <label>Usuario</label>
                <input id="txtUsuario" type="text" placeholder="Nombre de usuario" />
                <label>Contraseña</label>
                <input id="txtContraseña" type="password" placeholder="Contraseña" />
                <button class="btn btn-primary" asp-page="/Index">Entrar</button>
            </form>

        </div>

    </div>
</body>
</html>