@page
@model Proyectoint.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Candidato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Candidato.IdCandidato" />
            <div class="form-group">
                <label asp-for="Candidato.Empresa" class="control-label"></label>
                <input asp-for="Candidato.Empresa" class="form-control" />
                <span asp-validation-for="Candidato.Empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidato.Nombre" class="control-label"></label>
                <input asp-for="Candidato.Nombre" class="form-control" />
                <span asp-validation-for="Candidato.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidato.Edad" class="control-label"></label>
                <input asp-for="Candidato.Edad" class="form-control" />
                <span asp-validation-for="Candidato.Edad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidato.Nacionalidad" class="control-label"></label>
                <input asp-for="Candidato.Nacionalidad" class="form-control" />
                <span asp-validation-for="Candidato.Nacionalidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidato.Correo" class="control-label"></label>
                <input asp-for="Candidato.Correo" class="form-control" />
                <span asp-validation-for="Candidato.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
